{% extends "base.html.twig" %}

{% block local_javascript %}

    <script>
    	$(document).ready( function () {
    	    $('#readings').DataTable({
    	    	"paging": false,
    		});
    	});

    	$(".reading").each(function() {
        	var row = $(this);
        	var attr_id = row.attr('id');
        	var mms_id = attr_id.substring(4);
        	var course_id = "{{ course_id }}";
        	
            $.getJSON(course_id + "/" + mms_id, function(data) {

            	var location = "";
            	var call_number = "";
            	var availability = "";
            	var num_available = 0;
            	var num_unavailable = 0;
            	
            	$.each( data, function(key, item) {
                	
					if (location != "" && location != item.location) {
						location = '<a href="#">Multiple locations</a>';						
					} else {
						location = item.location;
					}
					
            		if (call_number != "" && call_number != item.call_number) {
						call_number = '<a href="#">Multiple call numbers</a>';						
					} else {
						call_number = item.call_number;
					}

					if (availability != "" && availability != item.availability) {
						availability = '<a href="#">Check availability</a>';					
					} else {
						availability = item.availability;
					}

					if (item.available == '1') {
						num_available++;
					}
					
					if (item.available == '0') {
						num_unavailable++;
					}
            	});

            	var availability_statement = num_available + " available";

            	if (num_unavailable > 0) {
            		availability_statement = num_available + " of " + data.length + " available";
            	}
                
                $("#row-" + mms_id + " > td > div.location").replaceWith(location);
                $("#row-" + mms_id + " > td > div.call-number").replaceWith(call_number);
                $("#row-" + mms_id + " > td > div.status").replaceWith(availability_statement);
            });
    	});

    </script>

{% endblock %}

{% block content %}

    <div id="course">
    
    	<h1>{{ course|display_course_name }}</h1>
    	<h2>{{ course|display_instructors }}</h2>
    
    	<table id="readings" class="display">
    		<thead>
    	    	<tr>
    	    		<td>Title</td>
    	    		<td>Author</td>
    	    		<td>Location</td>
    	    		<td>Call Number</td>
    	    		<td>Availability</td>
    	    	</tr>
    	    </thead>
    	    {% for list in course.readinglists %}
    		{% for citation in list.citations %}
    		{% set metadata = citation.metadata %}
    		{% if not metadata.title == "" and not metadata.author == "" %}
    		<tr class="reading" id="row-{{ metadata|mmsid }}">
    			<td><a href="{{ citation.openurl }}">{{ metadata|display_title }}</a></td>
    			<td>{{ metadata.author }}</td>
    			<td><div class="update location">Checking . . . </div></td>
    			<td><div class="update call-number">{{ metadata.callnumber }}</div></td>
    			<td><div class="update status">Checking . . .</div></td>
    		</tr>
    		{% endif %}
    		{% endfor %}
    		{% endfor %}
    	</table>
    	
    	<p class="last-update">Last updated {{ "now"|date("m-d-Y g:i a") }}</p>
    </div>

{%  endblock %}
